*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #0D0D14;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}